.helper-10 {
    display: none;
}
.hero-section {
    background-image: 
        linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7))
        ,url(../img/bgs/bg-hero.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 53px);
}  

.hero-section .hero-wrapper {
    text-align: center;
}

.hero-section .hero-wrapper .title-hero {
    font-size: 1.5rem;
}

.hero-section .hero-wrapper .title-hero h2{
    font-size: 4.5rem;
    font-weight: bolder;
}


.hero-section .hero-wrapper .links {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width:790px) {

    .hero-section .hero-wrapper .title-hero h2{
        font-weight: bolder;
        line-height: 80px;
    }
}

@media (max-width:420px) {
    .hero-section .hero-wrapper {
        padding: 0px 20px;
        text-align: left;
    }

    .hero-section .hero-wrapper .title-hero h2{
        font-size: 2rem;        
        line-height: 30px;
    }

    .hero-section .hero-wrapper .subtitle-hero p {
        margin-top: 10px;
        font-size: .9rem;
    }

    .hero-section .hero-wrapper .links {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .hero-section .hero-wrapper .links a {
        margin-bottom: 10px;
    }

    .helper-10 {
        display: block;
        height: 20px;
    }
}