.no-match {
    background-image: 
        linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7))
        ,url(../img/bgs/bg-nomatch.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    height: 100vh;
}

.no-match > .no-match-content {
    margin-left: 35px;    
}

.link-home-content {
    margin-top: 20px;
    width: 180px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-home-content > .link-home {
    padding: 10px 25px;
    width: 100%;
    color: white;
    background-color: blue;
    transition: .3s;
}

.link-home-content > .link-home:hover {
    background-color: white;
    color: black;
}