.services {
    background-image: 
        linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7))
        ,url(../img/bgs/bg-skills1.jpg);
    background-size: cover;
    color: white;
    padding: 40px;
}

.services > .left-services > .title-services {
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-top: 40px;
}
.services > .left-services > .subtitle-services {
    font-size: .9rem;
    margin-bottom: 40px;
}


 .services > .right-services {
    display: grid;
    gap:2rem;
    grid-auto-rows:15rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));    
}

.services > .right-services > .educacion-container{
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.684);
    transition: .3s;
}

.services > .right-services > .educacion-container:hover{
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.779);
}

.services > .right-services > .educacion-container > h2 {
    font-size: 1rem;
    font-weight: normal;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
}

.services > .right-services > .educacion-container > p{
    font-size: .8rem;
    font-weight: normal;
}

.services > .right-services > .educacion-container > span{
    font-size: .8rem;
    font-weight: normal;
}

.services > .right-services > .educacion-container > .skill-wrapper {
    margin-top: 20px;
    display: grid;
    gap:1rem;
    grid-auto-rows:2rem;
    grid-template-columns: repeat(auto-fill, minmax(2rem, 1fr));  
}

.services > .right-services > .educacion-container > .skill-wrapper > div {
    width: 40px;
    /* margin-right: 10px; */
}


.services > .right-services > .educacion-container > .skill-wrapper > div > img {
    width: 100%;
}


/* Responsive */
@media (max-width:760px) {
    .services > .right-services {
        display: grid;
        gap:1rem;
        grid-auto-rows:20rem;
        grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));    
    }
}
